
@{
    ViewData["Title"] = "About";
}

<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">Sobre mim</h1>
        <p class="apresentacao__conteudo__texto">
            Sou um tipo de pessoa movida a desafios, sempre buscando crescer e aprender cada dia mais.
        </p>
        <p class="apresentacao__conteudo__texto">
            Meu foco sempre foi trabalhar com o que amo, então me sinto feliz em poder estar onde estou e evoluindo a cada dia.
        </p>
    </section>
    <img class="apresentacao__imagem" src="~/assets/Relinton.PNG" alt="Foto de Relinton Pinheiro" />
</main>

