
@{
    ViewData["Title"] = "Curriculo";
}

<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">FORMAÇÃO ACADÊMICA</h1>
        <p class="apresentacao__conteudo__texto">
            Faculdade Interamericana de Porto
            Velho - UNIRON
            <br />
            sistemas de Informação | 2014 - 2019
        </p>
        <h2 class="apresentacao__conteudo__titulo">Experiências</h2>
        <p class="apresentacao__conteudo__texto">
            <ul class="apresentacao__conteudo__texto">
                <li>
                    Controladoria Geral do Estado de Rondônia. | Nov 2021 - Atual
                    <br />
                    Desenvolvedor web full stack
                    <br />
                    Desenvolvo e mantenho aplicações web utilizando a
                    tecnologia .NET em aplicações monolíticas, aplicando a
                    modelagem de software (DDD) e abordagens (TDD).<br />
                    Utilizo a metodologia ágil, SCRUM, em conjunto com as
                    ferramentas Git Lab e Jira Software para gerenciar os
                    projetos e entregar soluções de alta qualidade de
                    maneira eficiente<br />
                    Sou adepto às boas práticas de desenvolvimento
                </li>
            </ul>
        </p>
        <h2 class="apresentacao__conteudo__titulo">HABILIDADES</h2>
        <p class="apresentacao__conteudo__texto">
            <ul class="apresentacao__conteudo__texto">
                <li>
                    HTML5,
                    CSS3,
                    JavaScript,
                    Bootstrap,
                    Asp Net Mvc Core,
                    SQL SERVER,
                    DDD,
                    TDD,
                    API REST,
                    Postman API,
                    Docker,
                    Git Lab,
                    Bitbucket,
                    SCRUM
                </li>
            </ul>
        </p>
    </section>
    <img src="~/assets/Relinton.PNG" alt="Foto de Relinton Pinheiro">
</main>

