
@{
    ViewData["Title"] = "Index";
}

<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">
            Eleve seu negócio digital a outro nível<strong class="titulo-destaque">
                com um Front-end de qualidade!
            </strong>
        </h1>
        <p class="apresentacao__conteudo__texto">
            Olá! Sou Relinton Pinheiro, desenvolvedor
            Front-end com especialidade em C#, HTML,
            CSS e JavaScript. Ajudo pequenos negócios e designers a
            colocarem em prática boas ideias. Vamos
            conversar?
        </p>
        <div class="apresentacao__links">
            <h2 class="apresentacao__links__subtitulo">Acesse minhas redes:</h2>
            <a class="apresentacao__links__navegacao" href="https://www.linkedin.com/in/relinton-pinheiro-9b443bb7/">
                <img src="~/assets/linkedin.png" alt="icone do linkedin" />
                Linkedin
            </a>
            <a class="apresentacao__links__navegacao" href="https://github.com/Relinton">
                <img src="~/assets/github.png" alt="icone do github" />
                Github
            </a>
        </div>
    </section>
    <img class="apresentacao__imagem" src="~/assets/Relinton.PNG" alt="Foto de Relinton Pinheiro">
</main>

